.top{
    height: 50px;
    width: 100%;
    /* background-color: brown; */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;

}
.top-left .top-right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-center{
    flex: 6;
}

.topImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.top-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

}
.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.searchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}